<!DOCTYPE html>
<html>
<head>
  <title>ChatDBC</title>
  <link rel='stylesheet' href='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.css' />
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>
  <script src='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.js'></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<navbar>
  <h1 class="header"> ChatDBC! </h1>
</navbar>
<body id="loginBackground">
  <%= react_component('AppComponent') %>
</body>
</html>
