<!DOCTYPE html>
<html>
<head>
  <title>DBCChat</title>

  <link rel='stylesheet' href='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.css' />
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script src='https://cdn.firebase.com/libs/firechat/2.0.1/firechat.min.js'></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= react_component('App') %>
</body>
</html>
