/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background: url('http://cdn2.bigcommerce.com/n-nr1m3w/t79dofd/product_images/uploaded_images/lets-chat-01.jpg?t=1398725710') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header{
  text-align: center;
  font-size: 80px;
  color: white;
}

loginContainer{
  overflow: auto;
   position: absolute;
   left: 44%;
   top: 80%;
   margin-left: -150px;
   margin-top: -150px;
}
 button {
        height: 40px;
        width: 150px;
        padding: 10px 15px;
        margin: 20px auto;
        color: #FFFFFF;
        background-color: #4CAFD7;
        border: 0 none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        position: relative;
        left: 40%;
}
