/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hidden{
  display: none;
}

/*log out button*/
.HomePageContainer {
  display: flex;
  width: 90%;

}


button {
        font-family: 'AppleGothic';
        font-size: 20px;
        height: 60px;
        width: 120px;
        padding: 10px 15px;
        margin: 20px auto;
        color: #FFFFFF;
        background-color: #4CAFD7;
        border: 0 none;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        position: relative;
        left: 40%;
}



#profilePic{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#messageWrapper{
  margin:0 auto;
  width:400px;
  background-color:rgba(240, 240, 240, 0.2);
  display:table;
  padding:5px;
  border-radius:5px;
  margin-bottom:10px;
}

input{
  box-sizing: border-box;
    background-color: inherit;
    border: none;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-family: inherit;
    font-size: 1rem;
    -webkit-transition: background-color .15s ease-out;
       -moz-transition: background-color .15s ease-out;
         -o-transition: background-color .15s ease-out;
            transition: background-color .15s ease-out;
    background-color: #eee;
}

input:focus {
    background-color: #2C3E50;
    outline: none;
    color: #ECF0F1;
}
.ChatThread {
    overflow: scroll;
    text-align: center;
    height: 500px;

}

.ChatThread, ol{
  background-color: #f8f8f8;
  list-style-type:none;
  font-size: 20px;
}

.ChatThread, li{

}
